
.profile{
  .profileUserName{
    width: 20%;
    margin: 0 auto;
  }
  .profileLeftSide{
    width: 50%;
    float: left;
  }
  .profileRightSide{
    width: 50%;
    float: right;
  }
}
body{
  height: 100%;
  width: 100%;
  background-color: rgba(254, 254, 254, 0.14);
}
.deskBeaconLandingPage{
  padding-top: 80px;
}

html{
  background-image: url('/img/deskbeacon.jpg');
  background-attachment: fixed;
  background-size: cover;
}
