

html{
  background-image: url('/img/deskbeacon.jpg');
  background-attachment: fixed;
  background-size: cover;
  body{
    height: 100%;
    width: 100%;
    background-color: rgba(254, 254, 254, 0.04);

    .profile{
      .profileUserName{
        width: 20%;
        margin: 0 auto;
      }
      .profileLeftSide{
        background-color: rgba(255, 254, 254, 0.6);
        width: 50%;
        float: left;
      }
      .profileRightSide{
        background-color: rgba(255, 254, 254, 0.6);
        width: 50%;
        float: right;
      }
    }

    .deskBeaconLandingPage{
      padding-top: 80px;
    }

    #navi{
      width:100%;
      .glyphicon::before{
        margin-right:4px;
      }
    }




  }
}
