extends ../shared/template

block content
  .profile(data-userId= user._id)
    .profileUserName
      if(user.facebook)
        h3= user.facebook.name
      if(user.twitter)
        h3= user.twitter.displayName
      if(user.local)
        h3= user.local.email
    .profileButtons
      button#enableProximity Enable Proximity Alerts
    .moodLight
      h3 Set your mood:
      .green
        img(src='/img/green_light.png')
      .yellow
        img(src='/img/yellow_light.png')
      .red
        img(src='/img/red_light.png')
      .text

        p Everything is all good.
        p I'm busy, you better have a good reason to inturrupt.
        p The situation is dire. Unfit for human interaction.
      .moodSelect
        span Select your current mood:
        select#mood
          option select a status
          option good
          option busy
          option bad


block scripts
  script(src='/js/es6/compiled/profile.js')
  script(src='/js/es6/compiled/timerAlerts.js')
