extends ../shared/template

block content
  .profile
    .profileUserName
      if(user.facebook)
        h3= user.facebook.name
      if(user.twitter)
        h3= user.twitter.displayName
      if(user.local)
        h3= user.local.email
    .profileButtons
    .profileLeftSide
      #options
    .profileRightSide
      #tasks
block scripts
  script(src='/js/es6/compiled/profile.js')
