extends ../shared/template

block content
  h1 Testing
  h2= alert.task
  h2= alert.dateTime
  .alert(data-id= alert._id.toString())
    span= alert._id.toString()
  if(!alert.proximity)
    form(action='/alerts/proximity', method = 'post')
      input(type= 'hidden', name= 'alertId', value= alert._id.toString())
      button Enable Proximity Alert
